{
  "FILENAME": "secrets.json",
  "DEBUG": true,
  "SECRET_KEY": "very-secret-key",
  "POSTGRES_NAME": "Postgres DB name",
  "POSTGRES_USER": "Postgres username",
  "POSTGRES_PASSWORD": "Postgres password"
}